form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e6e6e6 ;
  padding: 16px;

  & label{
    margin-bottom: 16px;
  }

  &{
    input{
      display: flex;
      flex-direction: column;
      padding: 6px;
    }
  }
}